services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: url-shortener-backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    networks:
      - urlnet
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: url-shortener-frontend
    ports:
      - "8080:80"
    networks:
      - urlnet
    depends_on:
      - backend

  mongo:
    image: mongo:6.0
    container_name: url-shortener-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - urlnet

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - urlnet
    depends_on:
      - backend

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - urlnet
    depends_on:
      - prometheus

volumes:
  mongo_data:

networks:
  urlnet:
    driver: bridge


